@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.centro {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
    position: relative;
}

h1, 
h2 {
    font-family: 'Righteous', cursive;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    padding-left: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 1;
}

header h1 {
    color: white;
    font-size: 44px;
}

header p {
    color: white;
    font-size: 18px;
}

main {
    margin-top: 120px;
    padding-left: 20px;
    margin-bottom: 92px;
}

main h2 {
    font-size: 26px;
    color:#333333;
}

.selecao {
    display: flex;
    overflow: auto;
    overflow-x: scroll;
    margin-top: 17px;
    margin-bottom: 27px;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.selecao::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }

.sobremesa .selecao {
    margin-bottom: 15px;
}

.opcao {
    width: 172px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 9px;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    padding: 13px 10px 10px 10px;
    cursor: pointer;
    position: relative;
}

.opcao img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.opcao h3 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.opcao h4 {
    color: #000000;
    font-size: 16px;
}

.opcao h5 {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
}

.opcao ion-icon {
    display: none;
}

.barra-pedido {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.bloqueado {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    cursor: not-allowed;
    padding: 0 70px;
}

.habilitado {
    display: none;
    width: 364px;
    height: 61px;
    background-color: #32B72F;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.selecionado {
    border: 5px solid #32B72F;
}

.selecionado ion-icon {
    display: initial;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 135px;
    color: #32B72F;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.janela-confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 377px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 25px;
    position: fixed;
    top: 22%;
}

.janela-confirmacao h4, h5 {
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.janela-confirmacao h3, .total h4 {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.info-prato, .info-bebida, .info-sobremesa, .total {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 13px;
}

.janela-confirmacao button {
    background-color: #50D074;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
}

.zap button {
    background-color: #FFFFFF;
    border: none;
    width: 329px;
    height: 52px;
    margin-top: 25px;
    border-radius: 100px;
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.esconder {
    display: none;
}

.aparecer {
    display: initial;
}